@model PasswordResetModel


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <form asp-action="ChangePass" method="post" onsubmit="submitFormModal(event,'Изменение пароля пользователя @Model.UserName')">

                        <div>
                            Пользователь: <h5 style="display:inline-block">@Model.UserName</h5>
                        </div>
                        <div>
                            <input asp-for="@Model.UserId" />
                            <input asp-for="@Model.PasswordResetToken" />
                            <input asp-for="@Model.UserName" />
                        </div>
                        
                        <div class="input-field">
                            <input asp-for="@Model.NewPassword" class="validate" />
                            <label asp-for="@Model.NewPassword"></label>
                            <span asp-validation-for="@Model.NewPassword"></span>
                        </div>
                        <div>
                            <div asp-validation-summary="ModelOnly"></div>
                        </div>

                        <div class="right-align">
                            <button type="submit" class="btn waves-effect waves-light">Изменить пароль</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>