@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Список ролей приложения";
}

<div class="container-fluid">
    <div class="row">
        <div class="col m12">
            <h4>Доступные роли</h4>
        </div>
    </div>
    <div class="row">
        <div class="col m12 right-align">
            <a class="btn teal darken-3" href="#" title="Добавить новое значение" onclick="openModalGetRequest('Добавление новой роли', '@Url.Action("EditRole","ManageProfile",new { id="0"})')"><i class="material-icons left">add</i>Добавить</a>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th width="350">Id</th>
                        <th width="180">Name</th>
                        <th width="100">Users count</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var role in Model)
                    {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td style="text-align:center; color:#828282">@await Component.InvokeAsync("UsersInRole", new { roleName = role.Name })</td>
                        <td>
                            <a class="btn-floating btn-small orange lighten-1 pulse" href="#" title="Редактирование роли" onclick="openModalGetRequest('Редактирование роли', '@Url.Action("EditRole","ManageProfile",new { id=role.Id})')"><i class="material-icons">edit</i></a>
                            <a class="btn-floating btn-small red lighten-1 pulse" href="#" title="Удаление роли" onclick="openModalGetRequest('Удаление роли', '@Url.Action("DeleteRole","ManageProfile",new { roleId=role.Id})')"><i class="material-icons">clear</i></a>
                        </td>
                    </tr>
                    }
                </tbody>
                </table>
            </div>
        </div>

    
    </div>
