@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Список пользователей приложения";
}


<div class="container-fluid">
    <div class="row">
        <div class="col m12">
            <h4>Зарегистрированные пользователи</h4>
        </div>
    </div>
    <div class="row">
        <div class="col m12 right-align">
            <a class="btn teal darken-3" href="#" title="Добавить нового пользователя" onclick="openModalGetRequest('Регистрация пользователя', '@Url.Action("AddProfile","ManageProfile",new { id="0"})')"> <i class="material-icons left">add</i>Добавить</a>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <table class="minFont highlight">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Email Confirmed</th>
                        <th>PasswordHash</th>
                        <th>PhoneNumber</th>
                        <th>LockoutEnabled</th>
                        <th>LockoutEnd</th>
                        <th>Roles</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td><label><input type="checkbox" checked="@user.EmailConfirmed" disabled="disabled" /><span></span></label></td>
                        <td>@user.PasswordHash</td>
                        <td>@user.PhoneNumber</td>
                        <td><label><input type="checkbox" checked="@user.LockoutEnabled" disabled="disabled" /><span></span></label></td>
                        <td>@(user.LockoutEnd.HasValue?user.LockoutEnd.Value.ToString():"")</td>
                        <td>@await Component.InvokeAsync("UserRoles", new { userId=user.Id})</td>
                        <td>
                            

                            <a class='dropdown-trigger btn-floating btn-small orange lighten-1 pulse' href='#' data-target='dropdown-@user.UserName'><i class="material-icons">edit</i></a>

                            <!-- Dropdown Structure -->
                            <ul id='dropdown-@user.UserName' class='dropdown-content'>
                                <li title="Изменение пароля"><a href="#!"  onclick="openModalGetRequest('Изменение пароля пользователя', '@Url.Action("ChangePass","ManageProfile",new { userId=user.Id})')">Пароль</a></li>
                                <li title="Управление ролями"><a href="#!"  onclick="openModalGetRequest('Управление ролями пользователя', '@Url.Action("ChangeProfileRoles","ManageProfile",new { userId=user.Id})')">Роли</a></li>
                            </ul>


                            <a class="btn-floating btn-small red lighten-1 pulse" href="#" title="Удаление профиля" onclick="openModalGetRequest('Удаление аккаунта', '@Url.Action("Deleteprofile","ManageProfile",new { userId=user.Id})')"><i class="material-icons">clear</i></a>
                        </td>
                    </tr>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
